extends template.pug
block content
  main.main-container
    section.header
      .top
        a.top__link(href="#") #[span.material-icons arrow_back_ios]
        a.top__link(href="#") #[span.material-icons turned_in_not] 
      .bottom
        p.bottom__episode Season 01 &#183; Episode 02
        h1.bottom__title Mr Robot
    section.body
      p.body__description Elliot, a brilliant but highly unstable young cyber-security engineer and vigilante hacker, becomes a key figure in a complex game of global dominance when he and his shadowy allies try to take down the corrupt corporation he works for.
      .reporduction
        button.reporduction__button #[span.material-icons skip_previous]
        button.reporduction__button.reporduction__button--primary #[span.material-icons play_arrow]        
        button.reporduction__button #[span.material-icons skip_next]        